<% time_entry = target_time_entry(issue) -%>
<% if time_entry -%>
<ul class="journal details">
  <li><%= l(:text_journal_added,
            label: l(:field_hours),
            value: "#{time_entry.hours} (#{time_entry.comments})") %></li>
</ul>
<% end -%>
